#resume{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 5vw;
    background-color: #fff;
    margin: 2vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
}